@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100svh;
}

@media (min-width: 640px) {
  body {
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #root {
    min-height: auto;
  }
}
